<the-team>
    <section class="container" id="the-team">
        <div class="holder">
            <div class="content">
                <p class="p-title">The Team</p>
                <p class="p-subtitle">Find out who we are</p>
                <div class="item-divider"></div>
                <p class="p-content">
                    We are a dynamic duo with diverse backgrounds in game development and modding. We operate remotly from Germany and Czech.
                </p>
                <div class="btn-holder">
                    <a href="/our-team" class="astralite-btn btn-blue">Meet the team</a>
                </div>
            </div>
            <div>
                <div class="placeholder"></div>
                <!--<img class="team-img" src="/heroes.png" alt="Heroes">-->
            </div>
        </div>
    </section>
</the-team>


<style>

    the-team {
        width: 100%;
        height: 100%;

        background-image: url(/bg.jpg);
        background-size: cover;
        background-position: 50%
    }

    .container {
        margin: 3.5em 10em;
    }

    .holder {
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
    }

    .btn-holder {
        margin-top: 0.75em;
        align-self: flex-end;
    }

    .team-img {
        width: 25em;
    }

    .placeholder {
        width: 30rem;
    }

    .p-title {
        font-weight: 900;
        font-size: 3.35rem;
        color: #1d0e47;
    }

    .p-subtitle {
        font-weight: 700;
        font-size: 1.35rem;
        color: #7a7463;

        padding: 0.5em 0;
        margin-bottom: 0.5em;
    }

    .p-content {
        font-size: .9rem;
        color: #060707;

        padding: 0.5em 0;
        margin-top: 0.5em;
    }

</style>