---
import '../styles/base.css';

import Header from "../components/Header.astro";
import TeamMembers from "../components/our_team/TeamMembers.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Our team - Astralite Studios</title>
  </head>
  <body>
    <Header />
    <TeamMembers />
    <Footer />
  </body>
</html>
